	#rodape{
	    background-color: #f8f8f8;
	}
	
	#logo{
		max-width: 30%;
	}

	#containerlogo{
		padding-top: 1px;
		padding-bottom: 1px;
	}

	#imgtext{
	    max-width: 38px;
	    max-height: 38px;
	    padding-right: 3px;
	}

	#btncadastrar{
		font-size: 18px;	
	}

	#btncancelar{
		font-size: 18px;	
	}


/*	.navbar-nav {
    margin: -3px -93px;
	}*/

body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.navbar-brand {
	float: right;
}

.form-group{
	display: inline-block;
	
}

.input-group{
	display:  inline-block;
	margin-right: 10px;
	width: 32%;
	
}
.form-control {
	width: 150px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}