body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.navbar-brand {
    float: right;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#linhamenu {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #969292;
    width: 200px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 250px;
    list-style: none;
    background-color: #111;
}

.InDropMenu{
    color:#818181;
    margin-left: 14px;
}

.jumbotron{
    background-color: #FFFFFF;
}

#titulochamada{
    font-size: 40px;
}